docker.enabled = true
manifest {
	name = 'Sage-Bionetworks-Workflows/nf-genie'
	author = 'Thomas Yu'
	homePage = 'https://github.com/Sage-Bionetworks-Workflows/nf-genie'
	description = 'Nextflow pipeline for main GENIE processing'
	mainScript = 'main.nf'
	nextflowVersion = '>=21.09.0-edge'
	version = '0.1'
}
profiles {
	aws_test {
		process {
			memory = 16.GB
			cpus = 4
		}
	}
	aws_prod {
		process {
			withName: maf_process {
				memory = 60.GB
				cpus = 16
			}
			withName: main_process {
				memory = 16.GB
				cpus = 4
			}
			withName: release {
				memory = 16.GB
				cpus = 4
			}
		}
	}
}