manifest {
	name = 'Sage-Bionetworks-Workflows/nf-genie'
	author = 'Thomas Yu'
	homePage = 'https://github.com/Sage-Bionetworks-Workflows/nf-genie'
	description = 'Nextflow pipeline for main GENIE processing'
	mainScript = 'main.nf'
	nextflowVersion = '>=21.09.0-edge'
	version = '0.1'
}
profiles {
	docker {
		docker.enabled = true
	}
	aws_test {
		process {
			memory = 16.GB
			cpus = 4
		}
		params {
			// docker image parameters, see nextflow_schema.json for details
			main_pipeline_docker = "ghcr.io/sage-bionetworks/genie:develop"
			main_release_utils_docker = "sagebionetworks/main-genie-release-utils"
			find_maf_artifacts_docker = "sagebionetworks/genie-artifact-finder"
			create_data_guide_docker = "sagebionetworks/genie-data-guide"
			patch_release_docker = "sagebionetworks/genie-patch-main-release"
		}
	}
	aws_prod {
		process {
			withName: process_maf {
				memory = 64.GB
				cpus = 16
			}
			withName: process_main {
				memory = 16.GB
				cpus = 4
			}
			withName: validate_data {
				memory = 16.GB
				cpus = 4
			}
			withName: create_consortium_release {
				memory = 32.GB
				cpus = 4
			}
			withName: create_public_release {
				memory = 16.GB
				cpus = 4
			}
			withName: find_maf_artifacts {
				memory = 16.GB
				cpus = 4
			}
		}
		params {
			// docker image parameters, see nextflow_schema.json for details
			main_pipeline_docker = "sagebionetworks/genie:latest"
			main_release_utils_docker = "sagebionetworks/main-genie-release-utils"
			find_maf_artifacts_docker = "sagebionetworks/genie-artifact-finder"
			create_data_guide_docker = "sagebionetworks/genie-data-guide"
			patch_release_docker = "sagebionetworks/genie-patch-main-release"
		}
	}
}