manifest {
	name = 'Sage-Bionetworks-Workflows/nf-genie'
	author = 'Thomas Yu'
	homePage = 'https://github.com/Sage-Bionetworks-Workflows/nf-genie'
	description = 'Nextflow pipeline for main GENIE processing'
	mainScript = 'main.nf'
	nextflowVersion = '>=21.09.0-edge'
	version = '0.1'
}
profiles {
	docker {
		docker.enabled = true
	}
	aws_test {
		process {
			memory = 16.GB
			cpus = 4
		}
	}
	aws_prod {
		process {
			withName: process_maf {
				memory = 60.GB
				cpus = 16
			}
			withName: process_main {
				memory = 16.GB
				cpus = 4
			}
			withName: create_consortium_release {
				memory = 16.GB
				cpus = 4
			}
			withName: create_public_release {
				memory = 16.GB
				cpus = 4
			}
			withName: find_maf_artifacts {
				memory = 16.GB
				cpus = 4
			}
		}
	}
}